Modules/OOFModule/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-OOFDetails",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "manual": {
                            "type": "Request",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "AddIncidentComments": {
                                            "title": "Add comments to the incident",
                                            "type": "boolean"
                                        },
                                        "Entities": {
                                            "description": "Click here and select the Entities object from the Dynamic content menu",
                                            "type": "array"
                                        },
                                        "IncidentARMId": {
                                            "description": "Click here and select the Incident ARM ID object from the Dynamic content menu",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose": {
                            "runAfter": {
                                "Condition_2": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "OverallOOFStatus": "@{variables('OverallOOFStatus')}",
                                "PerUserStatus": "@variables('DetailedResults')"
                            }
                        },
                        "Condition_-_Check_for_Account_Entities": {
                            "actions": {
                                "Response_-_No_Account_Entities": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": {
                                            "OverallOOFStatus": "NoUserEntities"
                                        },
                                        "statusCode": 200
                                    }
                                },
                                "Terminate": {
                                    "runAfter": {
                                        "Response_-_No_Account_Entities": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Succeeded"
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array_-_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@length(body('Filter_array_-_Entities'))",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_2": {
                            "actions": {
                                "Set_variable": {
                                    "runAfter": {},
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "OverallOOFStatus",
                                        "value": "@{if(greater(length(body('Filter_array_-_OOF_Enabled')), 0), 'enabled', 'disabled')}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Set_variable_2": {
                                        "runAfter": {},
                                        "type": "SetVariable",
                                        "inputs": {
                                            "name": "OverallOOFStatus",
                                            "value": "Inconsistent"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "equals": [
                                            "@length(variables('DetailedResults'))",
                                            "@length(body('Filter_array_-_OOF_DIsabled'))"
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "",
                                            "@length(body('Filter_array_-_OOF_Enabled'))"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_3": {
                            "actions": {
                                "Add_comment_to_incident_(V3)": {
                                    "runAfter": {
                                        "Create_HTML_table": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['IncidentARMId']",
                                            "message": "<p>User Out of Office Status:<br>\n@{body('Create_HTML_table')}</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "Create_HTML_table": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('DetailedResults')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Compose": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['AddIncidentComments']",
                                            true
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Current_time": {
                            "runAfter": {},
                            "type": "Expression",
                            "kind": "CurrentTime",
                            "inputs": {}
                        },
                        "Filter_array_-_Entities": {
                            "runAfter": {
                                "Initialize_variable_-_DetailedResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@triggerBody()?['Entities']",
                                "where": "@equals(item()['kind'], 'Account')"
                            }
                        },
                        "Filter_array_-_OOF_DIsabled": {
                            "runAfter": {
                                "Filter_array_-_OOF_Enabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('DetailedResults')",
                                "where": "@equals(item()['OOFStatus'], 'disabled')"
                            }
                        },
                        "Filter_array_-_OOF_Enabled": {
                            "runAfter": {
                                "For_each": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@variables('DetailedResults')",
                                "where": "@equals(item()['OOFStatus'], 'enabled')"
                            }
                        },
                        "For_each": {
                            "foreach": "@body('Filter_array_-_Entities')",
                            "actions": {
                                "Append_to_DetailedResults_-_Failed_Graph_Call": {
                                    "runAfter": {
                                        "HTTP": [
                                            "TimedOut",
                                            "Failed"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "DetailedResults",
                                        "value": {
                                            "OOFStatus": "unknown",
                                            "UPN": "@{concat(item()['properties']['accountName'],'@',item()['properties']['upnSuffix'])}"
                                        }
                                    }
                                },
                                "HTTP": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://graph.microsoft.com",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "method": "GET",
                                        "uri": "https://graph.microsoft.com/v1.0/users/@{concat(item()['properties']['accountName'],'@',item()['properties']['upnSuffix'])}/mailboxSettings/automaticRepliesSetting"
                                    }
                                },
                                "Switch": {
                                    "runAfter": {
                                        "HTTP": [
                                            "Succeeded"
                                        ]
                                    },
                                    "cases": {
                                        "Case": {
                                            "case": "disabled",
                                            "actions": {
                                                "Append_to_DetailedResults_-_disabled": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "DetailedResults",
                                                        "value": {
                                                            "OOFStatus": "disabled",
                                                            "UPN": "@{concat(item()['properties']['accountName'],'@',item()['properties']['upnSuffix'])}"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Case_2": {
                                            "case": "enabled",
                                            "actions": {
                                                "Append_to_DetailedResults_-_enabled": {
                                                    "runAfter": {},
                                                    "type": "AppendToArrayVariable",
                                                    "inputs": {
                                                        "name": "DetailedResults",
                                                        "value": {
                                                            "ExternalMessage": "@{body('HTTP')['externalReplyMessage']}",
                                                            "InternalMessage": "@{body('HTTP')['internalReplyMessage']}",
                                                            "OOFStatus": "enabled",
                                                            "UPN": "@{concat(item()['properties']['accountName'], '@', item()['properties']['upnSuffix'])}"
                                                        }
                                                    }
                                                }
                                            }
                                        },
                                        "Case_3": {
                                            "case": "scheduled",
                                            "actions": {
                                                "Condition": {
                                                    "actions": {
                                                        "Append_to_array_variable_3": {
                                                            "runAfter": {},
                                                            "type": "AppendToArrayVariable",
                                                            "inputs": {
                                                                "name": "DetailedResults",
                                                                "value": {
                                                                    "ExternalMessage": "@{body('HTTP')['externalReplyMessage']}",
                                                                    "InternalMessage": "@{body('HTTP')['internalReplyMessage']}",
                                                                    "OOFStatus": "enabled",
                                                                    "UPN": "@{concat(item()['properties']['accountName'], '@', item()['properties']['upnSuffix'])}"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "runAfter": {},
                                                    "else": {
                                                        "actions": {
                                                            "Append_to_array_variable_4": {
                                                                "runAfter": {},
                                                                "type": "AppendToArrayVariable",
                                                                "inputs": {
                                                                    "name": "DetailedResults",
                                                                    "value": {
                                                                        "OOFStatus": "disabled",
                                                                        "UPN": "@{concat(item()['properties']['accountName'],'@',item()['properties']['upnSuffix'])}"
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "expression": {
                                                        "and": [
                                                            {
                                                                "greaterOrEquals": [
                                                                    "@body('Current_time')",
                                                                    ""
                                                                ]
                                                            },
                                                            {
                                                                "lessOrEquals": [
                                                                    "@body('Current_time')",
                                                                    ""
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    "type": "If"
                                                }
                                            }
                                        }
                                    },
                                    "default": {
                                        "actions": {
                                            "Append_to_array_variable_5": {
                                                "runAfter": {},
                                                "type": "AppendToArrayVariable",
                                                "inputs": {
                                                    "name": "DetailedResults",
                                                    "value": {
                                                        "OOFStatus": "unknown",
                                                        "UPN": "@{concat(item()['properties']['accountName'],'@',item()['properties']['upnSuffix'])}"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "expression": "@body('HTTP')['status']",
                                    "type": "Switch"
                                }
                            },
                            "runAfter": {
                                "Condition_-_Check_for_Account_Entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable": {
                            "runAfter": {
                                "Filter_array_-_OOF_DIsabled": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "OverallOOFStatus",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_-_DetailedResults": {
                            "runAfter": {
                                "Current_time": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "DetailedResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Condition_3": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@outputs('Compose')",
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {
                        "resourceID": {
                            "type": "string",
                            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    ]
}
