Samples/basicsample.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Sample-STAT-Triage",
            "type": "string"
        },
        "STAT_Connection_resourceId": {
            "type": "string"
        },
        "STAT_Connector_resourceId": {
            "type": "string"
        },
        "STAT_Function_Name": {
            "type": "string"
        }
    },
    "variables": {
        "SentinelConnectionName": "[concat(parameters('PlaybookName'), '-sentinel')]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('SentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('SentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "PlaybookVersion": {
                            "defaultValue": "1.5.6",
                            "type": "String"
                        },
                        "PlaybookInternalName": {
                            "defaultValue": "BasicSample",
                            "type": "String"
                        },
                        "ProjectName": {
                            "defaultValue": "STAT",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "When_Azure_Sentinel_incident_creation_rule_was_triggered": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "body": {
                                    "callback_url": "@{listCallbackUrl()}"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                    }
                                },
                                "path": "/incident-creation"
                            }
                        }
                    },
                    "actions": {
                        "AAD_Risks_Module": {
                            "runAfter": {
                                "Base_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "BaseModuleBody": "@body('Base_Module')",
                                    "LookbackInDays": 14
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/modules/aadrisks"
                            }
                        },
                        "Base_Module": {
                            "runAfter": {},
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "Body": "@triggerBody()"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/modules/base"
                            }
                        },
                        "Condition": {
                            "actions": {
                                "Update_incident_-_Raise_Severity_and_Tag": {
                                    "runAfter": {},
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@triggerBody()?['object']?['id']",
                                            "severity": "High",
                                            "tagsToAdd": {
                                                "TagsToAdd": [
                                                    {
                                                        "Tag": "STAT Triage - High Risk"
                                                    },
                                                    {
                                                        "Tag": "RiskScore:@{body('Risk_Scoring_Module')?['TotalScore']}"
                                                    }
                                                ]
                                            }
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "put",
                                        "path": "/Incidents"
                                    }
                                }
                            },
                            "runAfter": {
                                "Risk_Scoring_Module": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Update_incident_-_Lower_Severity_and_Tag": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "incidentArmId": "@triggerBody()?['object']?['id']",
                                                "severity": "Informational",
                                                "tagsToAdd": {
                                                    "TagsToAdd": [
                                                        {
                                                            "Tag": "STAT Triage - Low Risk"
                                                        },
                                                        {
                                                            "Tag": "RiskScore:@{body('Risk_Scoring_Module')?['TotalScore']}"
                                                        }
                                                    ]
                                                }
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                                }
                                            },
                                            "method": "put",
                                            "path": "/Incidents"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "or": [
                                    {
                                        "greaterOrEquals": [
                                            "@body('Risk_Scoring_Module')?['TotalScore']",
                                            40
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Related_Alerts_Module": {
                            "runAfter": {
                                "Base_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "BaseModuleBody": "@body('Base_Module')",
                                    "LookbackInDays": 14
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/modules/relatedalerts"
                            }
                        },
                        "Risk_Scoring_Module": {
                            "runAfter": {
                                "AAD_Risks_Module": [
                                    "Succeeded"
                                ],
                                "Related_Alerts_Module": [
                                    "Succeeded"
                                ],
                                "Threat_Intel_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "BaseModuleBody": "@body('Base_Module')",
                                    "ScoringData": [
                                        {
                                            "ModuleBody": "@body('AAD_Risks_Module')",
                                            "ScoreLabel": "AAD Risks",
                                            "ScoreMultiplier": 1,
                                            "ScorePerItem": true
                                        },
                                        {
                                            "ModuleBody": "@body('Related_Alerts_Module')",
                                            "ScoreLabel": "Related Alerts",
                                            "ScoreMultiplier": 1,
                                            "ScorePerItem": true
                                        },
                                        {
                                            "ModuleBody": "@body('Threat_Intel_Module')",
                                            "ScoreLabel": "TI Module",
                                            "ScoreMultiplier": 5,
                                            "ScorePerItem": true
                                        }
                                    ]
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/modules/scoring"
                            }
                        },
                        "Threat_Intel_Module": {
                            "runAfter": {
                                "Base_Module": [
                                    "Succeeded"
                                ]
                            },
                            "type": "ApiConnection",
                            "inputs": {
                                "body": {
                                    "BaseModuleBody": "@body('Base_Module')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['SentinelTriageAssistantv2']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/api/modules/threatintel"
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                                "connectionName": "[variables('SentinelConnectionName')]",
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                }
                            },
                            "SentinelTriageAssistantv2": {
                                "connectionId": "[parameters('STAT_Connection_resourceId')]",
                                "connectionName": "[parameters('STAT_Function_Name')]",
                                "id": "[parameters('STAT_Connector_resourceId')]"
                            }
                        }
                    }
                }
            }
        }
    ]
}