Modules/FileModule/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-FileInsights",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName":"[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "PlaybookVersion": {
                            "defaultValue": "0.0.2",
                            "type": "String"
                        },
                        "PlaybookInternalName": {
                            "defaultValue": "FileModule",
                            "type": "String"
                        },
                        "ProjectName": {
                            "defaultValue": "STAT",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "triage": {
                            "type": "Request",
                            "operationOptions": "EnableSchemaValidation",
                            "kind": "Http",
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "AddIncidentComments": {
                                            "title": "Add comments to the incident",
                                            "type": "boolean"
                                        },
                                        "Entities": {
                                            "description": "Click here and select the EnrichedEntities object from the Dynamic content menu",
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "actions": {
                        "Compose_response": {
                            "runAfter": {
                                "For_each_File": [
                                    "Succeeded"
                                ],
                                "For_each_FileHash": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose",
                            "inputs": {
                                "AnalyzedEntities": "@add(length(variables('FileHashResults')),length(variables('FileResults')))",
                                "DetailedResults": "@union(variables('FileHashResults'),variables('FileResults'))",
                                "EntitiesAttachmentCount": "@variables('EntitiesAttachmentCount')",
                                "HashesInvalidSignatureCount": "@variables('HashesInvalidSignatureCount')",
                                "HashesLinkedToThreatCount": "@variables('HashesLinkedToThreatCount')",
                                "HashesNotMicrosoftSignedCount": "@variables('HashesNotMicrosoftSignedCount')",
                                "HashesThreatList": "@variables('HashesThreatList')",
                                "MaximumGlobalPrevalence": "@max(variables('GlobalPrevalence'))",
                                "MinimumGlobalPrevalence": "@min(variables('GlobalPrevalence'))"
                            }
                        },
                        "Condition_-_Add_comment_to_the_incident": {
                            "actions": {
                                "Add_comment_to_incident": {
                                    "runAfter": {
                                        "Create_HTML_table_for_threats": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@{triggerBody()?['Entities']['IncidentARMId']}",
                                            "message": "<p>Analyzed entities: @{outputs('Compose_response')['AnalyzedEntities']}<br>\nMaximum Global Prevalence: @{outputs('Compose_response')['MaximumGlobalPrevalence']}<br>\nMinimum Global Prevalence: @{outputs('Compose_response')['MinimumGlobalPrevalence']}<br>\nNumber of files found in email attachments: @{outputs('Compose_response')['EntitiesAttachmentCount']}<br>\nNumber of hashes for files not signed by Microsoft: @{outputs('Compose_response')['HashesNotMicrosoftSignedCount']}<br>\nNumber of hashes with no or invalid signatures: @{outputs('Compose_response')['HashesInvalidSignatureCount']}<br>\nNumber of hashes linked to known threats: @{outputs('Compose_response')['HashesLinkedToThreatCount']}<br>\nList of these threats: @{if(equals(length(variables('HashesThreatList')),0),'No threats found',body('Create_HTML_table_for_threats'))}<br>\nDetails for files: @{if(equals(length(variables('FileResults')),0),'No attachment files found',body('Create_HTML_table_for_files'))}<br>\nDetails for hashes: @{if(equals(length(variables('FileHashResults')),0),'No hashes found',body('Create_HTML_table_for_hashes'))}<br>\n<br>\n</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    }
                                },
                                "Create_HTML_table_for_Files": {
                                    "runAfter": {},
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('FileResults')"
                                    }
                                },
                                "Create_HTML_table_for_hashes": {
                                    "runAfter": {
                                        "Create_HTML_table_for_Files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table",
                                    "inputs": {
                                        "columns": [
                                            {
                                                "header": "SHA256",
                                                "value": "@item()?['SHA256']"
                                            },
                                            {
                                                "header": "GlobalPrevalence",
                                                "value": "@item()?['GlobalPrevalence']"
                                            },
                                            {
                                                "header": "FirstSeen",
                                                "value": "@item()?['GlobalFirstSeen']"
                                            },
                                            {
                                                "header": "LastSeen",
                                                "value": "@item()?['GlobalLastSeen']"
                                            },
                                            {
                                                "header": "AttachmentCount",
                                                "value": "@item()?['EmailAttachmentCount']"
                                            }
                                        ],
                                        "format": "HTML",
                                        "from": "@variables('FileHashResults')"
                                    }
                                },
                                "Create_HTML_table_for_threats": {
                                    "runAfter": {
                                        "Create_HTML_table_for_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table",
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('HashesThreatList')"
                                    }
                                }
                            },
                            "runAfter": {
                                "Compose_response": [
                                    "Succeeded"
                                ]
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['AddIncidentComments']",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_-_Terminate_if_no_supported_entities": {
                            "actions": {
                                "Response_-_Send_empty_results": {
                                    "runAfter": {},
                                    "type": "Response",
                                    "kind": "Http",
                                    "inputs": {
                                        "body": {
                                            "AnalyzedEntities": 0,
                                            "DetailedResults": [],
                                            "EntitiesAttachmentCount": 0,
                                            "HashesInvalidSignatureCount": 0,
                                            "HashesLinkedToThreatCount": 0,
                                            "HashesNotMicrosoftSignedCount": 0,
                                            "HashesThreatList": [],
                                            "MaximumGlobalPrevalence": 0,
                                            "MinimumGlobalPrevalence": 0
                                        },
                                        "schema": {
                                            "properties": {
                                            "AnalyzedEntities": {
                                                "type": "integer",
                                                "description": "Number of entities analyzed"
                                            },
                                            "EntitiesAttachmentCount": {
                                                "type": "integer",
                                                "description": "Number of times the entities were found in email attachements"
                                            },
                                            "HashesInvalidSignatureCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files with no or invalid signatures found"
                                            },
                                            "HashesLinkedToThreatCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files linked with a known threat found"
                                            },
                                            "HashesNotMicrosoftSignedCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files not signed by Microsoft found"
                                            },
                                            "MaximumGlobalPrevalence": {
                                                "type": "integer",
                                                "description": "Highest global prevalence score found"
                                            }, 
                                            "MinimumGlobalPrevalence": {
                                                "type": "integer",
                                                "description": "Lowest global prevalence score found"
                                            },
                                            "HashesThreatList": {
                                                "type": "array",
                                                "items": {}
                                            },        
                                            "DetailedResults": {
                                                "description" : "Array of detailed results for files and hashes" ,
                                                "items": {
                                                    "properties": {
                                                        "EmailAttachmentCount": {
                                                            "type": "integer"
                                                        },
                                                        "EmailAttachmentFileSize": {
                                                            "type": "integer"
                                                        },
                                                        "EmailAttachmentFirstSeen": {
                                                            "type": "string"
                                                        },
                                                        "EmailAttachmentLastSeen": {
                                                            "type": "string"
                                                        },
                                                        "FileName": {
                                                            "type": "string"
                                                        },
                                                        "GlobalFirstSeen": {
                                                            "type": "string"
                                                        },
                                                        "GlobalLastSeen": {
                                                            "type": "string"
                                                        },
                                                        "GlobalPrevalence": {
                                                            "type": "integer"
                                                        },
                                                        "IsCertificateValid": {
                                                            "type": "integer"
                                                        },
                                                        "MD5": {
                                                            "type": "string"
                                                        },
                                                        "Publisher": {
                                                            "type": "string"
                                                        },
                                                        "SHA1": {
                                                            "type": "string"
                                                        },
                                                        "SHA256": {
                                                            "type": "string"
                                                        },
                                                        "SignatureState": {
                                                            "type": "string"
                                                        },
                                                        "ThreatName": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "type": "array"
                                            }
                                        }
                                    },
                                        "statusCode": 200
                                    }
                                },
                                "Terminate": {
                                    "runAfter": {
                                        "Response_-_Send_empty_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Terminate",
                                    "inputs": {
                                        "runStatus": "Succeeded"
                                    }
                                }
                            },
                            "runAfter": {},
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['Entities']['FilesCount']",
                                            0
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@triggerBody()?['Entities']['FileHashesCount']",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Filter_array_for_supported_algorithms": {
                            "runAfter": {
                                "Initialize_variable_HashesThreatList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query",
                            "inputs": {
                                "from": "@ triggerBody()?['Entities']['FileHashes']",
                                "where": "@contains(createArray('SHA256', 'SHA1', 'MD5'), item()['RawEntity']['algorithm'])"
                            }
                        },
                        "For_each_File": {
                            "foreach": "@ triggerBody()?['Entities']['Files']",
                            "actions": {
                                "Compose_DetailedResults_entry_for_files": {
                                    "runAfter": {
                                        "HTTP_query_the_EmailAttachmentInfo_table_with_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "EmailAttachmentCount": "@coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['Count'],0)",
                                        "EmailAttachmentFileSize": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['FileSize'],0)}",
                                        "EmailAttachmentFirstSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['FirstSeen'],null)}",
                                        "EmailAttachmentLastSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['LastSeen'],null)}",
                                        "FileName": "@{items('For_each_File')['RawEntity']['friendlyName']}"
                                    }
                                },
                                "Compose_KQL_for_EmailAttachmentInfo_with_files": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "EmailAttachmentInfo\n| where Timestamp > ago(30d)\n| where FileName=~ \"@{items('For_each_File')['RawEntity']['friendlyName']}\"\n| summarize FirstSeen=min(Timestamp), LastSeen=max(Timestamp), Count=count() by FileName,SHA256, FileSize"
                                },
                                "Condition_-_Check_if_the_file_was_found": {
                                    "actions": {
                                        "Append_to_array_variable_FileResults": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "FileResults",
                                                "value": "@outputs('Compose_DetailedResults_entry_for_files')"
                                            }
                                        },
                                        "Increment_variable_EntitiesAttachmentCount_for_files": {
                                            "runAfter": {
                                                "Append_to_array_variable_FileResults": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "IncrementVariable",
                                            "inputs": {
                                                "name": "EntitiesAttachmentCount",
                                                "value": "@outputs('Compose_DetailedResults_entry_for_files')['EmailAttachmentCount']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "Compose_DetailedResults_entry_for_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_DetailedResults_entry_for_files')['EmailAttachmentCount']",
                                                        0
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_query_the_EmailAttachmentInfo_table_with_files": {
                                    "runAfter": {
                                        "Compose_KQL_for_EmailAttachmentInfo_with_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_EmailAttachmentInfo_with_files')}"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.security.microsoft.com/api/advancedhunting/run"
                                    }
                                }
                            },
                            "runAfter": {
                                "Initialize_variable_EntitiesAttachmentCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_FileHash": {
                            "foreach": "@body('Filter_array_for_supported_algorithms')",
                            "actions": {
                                "Append_to_array_FileHashResults": {
                                    "runAfter": {
                                        "Compose_DetailedResults_entry_for_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "FileHashResults",
                                        "value": "@outputs('Compose_DetailedResults_entry_for_hashes')"
                                    }
                                },
                                "Append_to_array_GlobalPrevalence": {
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable",
                                    "inputs": {
                                        "name": "GlobalPrevalence",
                                        "value": "@body('HTTP_invoke_the_FileProfile_function')['Results'][0]['GlobalPrevalence']"
                                    }
                                },
                                "Compose_DetailedResults_entry_for_hashes": {
                                    "runAfter": {
                                        "Condition_-_Add_ThreatName_to_HashesThreatList": [
                                            "Succeeded"
                                        ],
                                        "HTTP_query_the_EmailAttachmentInfo_table_with_hashes": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type": "Compose",
                                    "inputs": {
                                        "EmailAttachmentCount": "@coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['Count'],0)",
                                        "EmailAttachmentFileSize": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FileSize'],0)}",
                                        "EmailAttachmentFirstSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FirstSeen'],null)}",
                                        "EmailAttachmentLastSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['LastSeen'],null)}",
                                        "FileName": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FileName'],null)}",
                                        "GlobalFirstSeen": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalFirstSeen']",
                                        "GlobalLastSeen": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalLastSeen']",
                                        "GlobalPrevalence": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalPrevalence']",
                                        "IsCertificateValid": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['IsCertificateValid']",
                                        "MD5": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['MD5']}",
                                        "Publisher": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['Publisher']}",
                                        "SHA1": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SHA1']}",
                                        "SHA256": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SHA256']}",
                                        "SignatureState": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SignatureState']",
                                        "ThreatName": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['ThreatName']"
                                    }
                                },
                                "Compose_KQL_for_EmailAttachmentInfo_with_hashes": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "EmailAttachmentInfo\n| where Timestamp > ago(30d)\n| where SHA256 =~ \"@{items('For_each_FileHash')['RawEntity']['hashValue']}\"\n| summarize FirstSeen=min(Timestamp), LastSeen=max(Timestamp), Count=count() by FileName,SHA256, FileSize"
                                },
                                "Compose_KQL_for_FileProfile": {
                                    "runAfter": {},
                                    "type": "Compose",
                                    "inputs": "print @{item()['RawEntity']['algorithm']}=\"@{item()['RawEntity']['hashValue']}\"\n| invoke FileProfile(\"@{item()['RawEntity']['algorithm']}\")"
                                },
                                "Condition_-_Add_ThreatName_to_HashesThreatList": {
                                    "actions": {
                                        "Append_to_array_HashesThreatList": {
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable",
                                            "inputs": {
                                                "name": "HashesThreatList",
                                                "value": "@body('HTTP_invoke_the_FileProfile_function')['Results'][0]['ThreatName']"
                                            }
                                        }
                                    },
                                    "runAfter": {
                                        "HTTP_invoke_the_FileProfile_function": [
                                            "Succeeded"
                                        ]
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(body('HTTP_invoke_the_FileProfile_function')['Results'][0]['ThreatName'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_invoke_the_FileProfile_function": {
                                    "runAfter": {
                                        "Compose_KQL_for_FileProfile": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_FileProfile')}"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.security.microsoft.com/api/advancedhunting/run"
                                    }
                                },
                                "HTTP_query_the_EmailAttachmentInfo_table_with_hashes": {
                                    "runAfter": {
                                        "Compose_KQL_for_EmailAttachmentInfo_with_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_EmailAttachmentInfo_with_hashes')}"
                                        },
                                        "method": "POST",
                                        "uri": "@{if(equals(item()['RawEntity']['algorithm'],'SHA256'),'https://api.security.microsoft.com/api/advancedhunting/run','')}"
                                    },
                                    "description": "Will fail on purpose when SHA256 is not the algorithm, it will use a null URI"
                                },
                                "Increment_variable_EntitiesAttachmentCount_for_hashes": {
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "EntitiesAttachmentCount",
                                        "value": "@outputs('Compose_DetailedResults_entry_for_hashes')['EmailAttachmentCount']"
                                    }
                                },
                                "Increment_variable_HashesInvalidSignatureCount": {
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "HashesInvalidSignatureCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SignatureState'],'SignedValid'),0,1)"
                                    }
                                },
                                "Increment_variable_HashesLinkedToThreatCount": {
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "HashesLinkedToThreatCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['ThreatName'],''),0,1)"
                                    }
                                },
                                "Increment_variable_HashesNotMicrosoftSigned": {
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable",
                                    "inputs": {
                                        "name": "HashesNotMicrosoftSignedCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['Publisher'],'Microsoft Corporation'),0,1)"
                                    }
                                }
                            },
                            "runAfter": {
                                "Filter_array_for_supported_algorithms": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "Initialize_variable_EntitiesAttachmentCount": {
                            "runAfter": {
                                "Initialize_variable_HashesInvalidSignatureCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EntitiesAttachmentCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_FileHashResults": {
                            "runAfter": {
                                "Initialize_variable_FileResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FileHashResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_FileResults": {
                            "runAfter": {
                                "Condition_-_Terminate_if_no_supported_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FileResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_GlobalPrevalence": {
                            "runAfter": {
                                "Initialize_variable_EntitiesAttachmentCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GlobalPrevalence",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_HashesInvalidSignatureCount": {
                            "runAfter": {
                                "Initialize_variable_HashesNotMicrosoftSignedCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesInvalidSignatureCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_HashesLinkedToThreatCount": {
                            "runAfter": {
                                "Initialize_variable_FileHashResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesLinkedToThreatCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_HashesNotMicrosoftSignedCount": {
                            "runAfter": {
                                "Initialize_variable_HashesLinkedToThreatCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesNotMicrosoftSignedCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            }
                        },
                        "Initialize_variable_HashesThreatList": {
                            "runAfter": {
                                "Initialize_variable_GlobalPrevalence": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesThreatList",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            }
                        },
                        "Response": {
                            "runAfter": {
                                "Condition_-_Add_comment_to_the_incident": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response",
                            "kind": "Http",
                            "inputs": {
                                "body": "@outputs('Compose_response')",
                                "schema": {
                                    "properties": {
                                            "AnalyzedEntities": {
                                                "type": "integer",
                                                "description": "Number of entities analyzed"
                                            },
                                            "EntitiesAttachmentCount": {
                                                "type": "integer",
                                                "description": "Number of times the entities were found in email attachements"
                                            },
                                            "HashesInvalidSignatureCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files with no or invalid signatures found"
                                            },
                                            "HashesLinkedToThreatCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files linked with a known threat found"
                                            },
                                            "HashesNotMicrosoftSignedCount": {
                                                "type": "integer",
                                                "description": "Number of hashes of files not signed by Microsoft found"
                                            },
                                            "MaximumGlobalPrevalence": {
                                                "type": "integer",
                                                "description": "Highest global prevalence score found"
                                            }, 
                                            "MinimumGlobalPrevalence": {
                                                "type": "integer",
                                                "description": "Lowest global prevalence score found"
                                            },
                                            "HashesThreatList": {
                                                "type": "array",
                                                "items": {}
                                            },        
                                            "DetailedResults": {
                                                "description" : "Array of detailed results for files and hashes" ,
                                                "items": {
                                                    "properties": {
                                                        "EmailAttachmentCount": {
                                                            "type": "integer"
                                                        },
                                                        "EmailAttachmentFileSize": {
                                                            "type": "integer"
                                                        },
                                                        "EmailAttachmentFirstSeen": {
                                                            "type": "string"
                                                        },
                                                        "EmailAttachmentLastSeen": {
                                                            "type": "string"
                                                        },
                                                        "FileName": {
                                                            "type": "string"
                                                        },
                                                        "GlobalFirstSeen": {
                                                            "type": "string"
                                                        },
                                                        "GlobalLastSeen": {
                                                            "type": "string"
                                                        },
                                                        "GlobalPrevalence": {
                                                            "type": "integer"
                                                        },
                                                        "IsCertificateValid": {
                                                            "type": "integer"
                                                        },
                                                        "MD5": {
                                                            "type": "string"
                                                        },
                                                        "Publisher": {
                                                            "type": "string"
                                                        },
                                                        "SHA1": {
                                                            "type": "string"
                                                        },
                                                        "SHA256": {
                                                            "type": "string"
                                                        },
                                                        "SignatureState": {
                                                            "type": "string"
                                                        },
                                                        "ThreatName": {
                                                            "type": "string"
                                                        }
                                                    }
                                                },
                                                "type": "array"
                                            }
                                        }
                                    },
                                "statusCode": 200
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "resourceID": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        }
    }
}
