Modules/FileModule/azuredeploy.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "PlaybookName": {
            "defaultValue": "Get-FileInsights",
            "type": "String"
        }
    },
    "variables": {
        "AzureSentinelConnectionName":"[concat('azuresentinel-', parameters('PlaybookName'))]"
    },
    "resources": [
        {
            "type": "Microsoft.Web/connections",
            "apiVersion": "2016-06-01",
            "name": "[variables('AzureSentinelConnectionName')]",
            "location": "[resourceGroup().location]",
            "kind": "V1",
            "properties": {
                "displayName": "[variables('AzureSentinelConnectionName')]",
                "customParameterValues": {},
                "parameterValueType": "Alternative",
                "api": {
                    "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                }
            }
        },
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('PlaybookName')]",
            "location": "[resourceGroup().location]",
            "dependsOn": [
                "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
            ],
            "identity": {
                "type": "SystemAssigned"
            },
            "properties": {
                "state": "Enabled",
               "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "actions": {
                        "Compose_response": {
                            "inputs": {
                                "AnalyzedEntities": "@add(length(variables('FileHashResults')),length(variables('FileResults')))",
                                "DetailedResults": "@union(variables('FileHashResults'),variables('FileResults'))",
                                "EntitiesAttachmentCount": "@variables('EntitiesAttachmentCount')",
                                "HashesInvalidSignatureCount": "@variables('HashesInvalidSignatureCount')",
                                "HashesLinkedToThreatCount": "@variables('HashesLinkedToThreatCount')",
                                "HashesNotMicrosoftSignedCount": "@variables('HashesNotMicrosoftSignedCount')",
                                "HashesThreatList": "@variables('HashesThreatList')",
                                "MaximumGlobalPrevalence": "@max(variables('GlobalPrevalence'))",
                                "MinimumGlobalPrevalence": "@min(variables('GlobalPrevalence'))"
                            },
                            "runAfter": {
                                "For_each_File": [
                                    "Succeeded"
                                ],
                                "For_each_FileHash": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Compose"
                        },
                        "Condition_-_Add_comment_to_the_incident": {
                            "actions": {
                                "Add_comment_to_incident": {
                                    "inputs": {
                                        "body": {
                                            "incidentArmId": "@body('Parse_JSON')?['IncidentARMId']",
                                            "message": "<p>Analyzed entities: @{outputs('Compose_response')['AnalyzedEntities']}<br>\nMaximum Global Prevalence: @{outputs('Compose_response')['MaximumGlobalPrevalence']}<br>\nMinimum Global Prevalence: @{outputs('Compose_response')['MinimumGlobalPrevalence']}<br>\nNumber of files found in email attachments: @{outputs('Compose_response')['EntitiesAttachmentCount']}<br>\nNumber of hashes for files not signed by Microsoft: @{outputs('Compose_response')['HashesNotMicrosoftSignedCount']}<br>\nNumber of hashes with no or invalid signatures: @{outputs('Compose_response')['HashesInvalidSignatureCount']}<br>\nNumber of hashes linked to known threats: @{outputs('Compose_response')['HashesLinkedToThreatCount']}<br>\nList of these threats: @{if(equals(length(variables('HashesThreatList')),0),'No threats found',body('Create_HTML_table_for_threats'))}<br>\nDetails for files: @{if(equals(length(variables('FileResults')),0),'No attachment files found',body('Create_HTML_table_for_files'))}<br>\nDetails for hashes: @{if(equals(length(variables('FileHashResults')),0),'No hashes found',body('Create_HTML_table_for_hashes'))}<br>\n<br>\n</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/Incidents/Comment"
                                    },
                                    "runAfter": {
                                        "Create_HTML_table_for_threats": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection"
                                },
                                "Create_HTML_table_for_Files": {
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('FileResults')"
                                    },
                                    "runAfter": {},
                                    "type": "Table"
                                },
                                "Create_HTML_table_for_hashes": {
                                    "inputs": {
                                        "columns": [
                                            {
                                                "header": "SHA256",
                                                "value": "@item()?['SHA256']"
                                            },
                                            {
                                                "header": "GlobalPrevalence",
                                                "value": "@item()?['GlobalPrevalence']"
                                            },
                                            {
                                                "header": "FirstSeen",
                                                "value": "@item()?['GlobalFirstSeen']"
                                            },
                                            {
                                                "header": "LastSeen",
                                                "value": "@item()?['GlobalLastSeen']"
                                            },
                                            {
                                                "header": "AttachmentCount",
                                                "value": "@item()?['EmailAttachmentCount']"
                                            }
                                        ],
                                        "format": "HTML",
                                        "from": "@variables('FileHashResults')"
                                    },
                                    "runAfter": {
                                        "Create_HTML_table_for_Files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table"
                                },
                                "Create_HTML_table_for_threats": {
                                    "inputs": {
                                        "format": "HTML",
                                        "from": "@variables('HashesThreatList')"
                                    },
                                    "runAfter": {
                                        "Create_HTML_table_for_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Table"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@triggerBody()?['AddIncidentComments']",
                                            "@true"
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Condition_-_Terminate_if_no_supported_entities": {
                            "actions": {
                                "Response_-_Send_empty_results": {
                                    "inputs": {
                                        "body": {
                                            "AnalyzedEntities": 0,
                                            "DetailedResults": [],
                                            "EntitiesAttachmentCount": 0,
                                            "HashesInvalidSignatureCount": 0,
                                            "HashesLinkedToThreatCount": 0,
                                            "HashesNotMicrosoftSignedCount": 0,
                                            "HashesThreatList": [],
                                            "MaximumGlobalPrevalence": 0,
                                            "MinimumGlobalPrevalence": 0
                                        },
                                        "statusCode": 200
                                    },
                                    "kind": "Http",
                                    "runAfter": {},
                                    "type": "Response"
                                },
                                "Terminate": {
                                    "inputs": {
                                        "runStatus": "Succeeded"
                                    },
                                    "runAfter": {
                                        "Response_-_Send_empty_results": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Terminate"
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "@body('Parse_JSON')?['FileHashesCount']",
                                            0
                                        ]
                                    },
                                    {
                                        "equals": [
                                            "@body('Parse_JSON')?['FilesCount']",
                                            0
                                        ]
                                    }
                                ]
                            },
                            "runAfter": {
                                "Parse_JSON": [
                                    "Succeeded"
                                ]
                            },
                            "type": "If"
                        },
                        "Filter_array_for_supported_algorithms": {
                            "inputs": {
                                "from": "@body('Parse_JSON')?['FileHashes']",
                                "where": "@contains(createArray('SHA256', 'SHA1', 'MD5'), item()['RawEntity']['algorithm'])"
                            },
                            "runAfter": {
                                "Initialize_variable_HashesThreatList": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Query"
                        },
                        "For_each_File": {
                            "actions": {
                                "Compose_DetailedResults_entry_for_files": {
                                    "inputs": {
                                        "EmailAttachmentCount": "@coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['Count'],0)",
                                        "EmailAttachmentFileSize": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['FileSize'],0)}",
                                        "EmailAttachmentFirstSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['FirstSeen'],null)}",
                                        "EmailAttachmentLastSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_files')?['Results']?[0]?['LastSeen'],null)}",
                                        "FileName": "@{items('For_each_File')['RawEntity']['friendlyName']}"
                                    },
                                    "runAfter": {
                                        "HTTP_query_the_EmailAttachmentInfo_table_with_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Compose_KQL_for_EmailAttachmentInfo_with_files": {
                                    "inputs": "EmailAttachmentInfo\n| where Timestamp > ago(30d)\n| where FileName=~ \"@{items('For_each_File')['RawEntity']['friendlyName']}\"\n| summarize FirstSeen=min(Timestamp), LastSeen=max(Timestamp), Count=count() by FileName,SHA256, FileSize",
                                    "runAfter": {},
                                    "type": "Compose"
                                },
                                "Condition_-_Check_if_the_file_was_found": {
                                    "actions": {
                                        "Append_to_array_variable_FileResults": {
                                            "inputs": {
                                                "name": "FileResults",
                                                "value": "@outputs('Compose_DetailedResults_entry_for_files')"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable"
                                        },
                                        "Increment_variable_EntitiesAttachmentCount_for_files": {
                                            "inputs": {
                                                "name": "EntitiesAttachmentCount",
                                                "value": "@outputs('Compose_DetailedResults_entry_for_files')['EmailAttachmentCount']"
                                            },
                                            "runAfter": {
                                                "Append_to_array_variable_FileResults": [
                                                    "Succeeded"
                                                ]
                                            },
                                            "type": "IncrementVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "not": {
                                                    "equals": [
                                                        "@outputs('Compose_DetailedResults_entry_for_files')['EmailAttachmentCount']",
                                                        0
                                                    ]
                                                }
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "Compose_DetailedResults_entry_for_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_query_the_EmailAttachmentInfo_table_with_files": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_EmailAttachmentInfo_with_files')}"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.security.microsoft.com/api/advancedhunting/run"
                                    },
                                    "runAfter": {
                                        "Compose_KQL_for_EmailAttachmentInfo_with_files": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http"
                                }
                            },
                            "foreach": "@body('Parse_JSON')?['Files']",
                            "runAfter": {
                                "Initialize_variable_EntitiesAttachmentCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "For_each_FileHash": {
                            "actions": {
                                "Append_to_array_FileHashResults": {
                                    "inputs": {
                                        "name": "FileHashResults",
                                        "value": "@outputs('Compose_DetailedResults_entry_for_hashes')"
                                    },
                                    "runAfter": {
                                        "Compose_DetailedResults_entry_for_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable"
                                },
                                "Append_to_array_GlobalPrevalence": {
                                    "inputs": {
                                        "name": "GlobalPrevalence",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')['Results'][0]['GlobalPrevalence'],null),0,body('HTTP_invoke_the_FileProfile_function')['Results'][0]['GlobalPrevalence'])"
                                    },
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "AppendToArrayVariable"
                                },
                                "Compose_DetailedResults_entry_for_hashes": {
                                    "inputs": {
                                        "EmailAttachmentCount": "@coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['Count'],0)",
                                        "EmailAttachmentFileSize": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FileSize'],0)}",
                                        "EmailAttachmentFirstSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FirstSeen'],null)}",
                                        "EmailAttachmentLastSeen": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['LastSeen'],null)}",
                                        "FileName": "@{coalesce(body('HTTP_query_the_EmailAttachmentInfo_table_with_hashes')?['Results']?[0]?['FileName'],null)}",
                                        "GlobalFirstSeen": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalFirstSeen']",
                                        "GlobalLastSeen": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalLastSeen']",
                                        "GlobalPrevalence": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['GlobalPrevalence']",
                                        "IsCertificateValid": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['IsCertificateValid']",
                                        "MD5": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['MD5']}",
                                        "Publisher": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['Publisher']}",
                                        "SHA1": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SHA1']}",
                                        "SHA256": "@{body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SHA256']}",
                                        "SignatureState": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SignatureState']",
                                        "ThreatName": "@body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['ThreatName']"
                                    },
                                    "runAfter": {
                                        "Condition_-_Add_ThreatName_to_HashesThreatList": [
                                            "Succeeded"
                                        ],
                                        "HTTP_query_the_EmailAttachmentInfo_table_with_hashes": [
                                            "Succeeded",
                                            "Failed"
                                        ]
                                    },
                                    "type": "Compose"
                                },
                                "Compose_KQL_for_EmailAttachmentInfo_with_hashes": {
                                    "inputs": "EmailAttachmentInfo\n| where Timestamp > ago(30d)\n| where SHA256 =~ \"@{items('For_each_FileHash')['RawEntity']['hashValue']}\"\n| summarize FirstSeen=min(Timestamp), LastSeen=max(Timestamp), Count=count() by FileName,SHA256, FileSize",
                                    "runAfter": {},
                                    "type": "Compose"
                                },
                                "Compose_KQL_for_FileProfile": {
                                    "inputs": "print @{item()['RawEntity']['algorithm']}=\"@{item()['RawEntity']['hashValue']}\"\n| invoke FileProfile(\"@{item()['RawEntity']['algorithm']}\")",
                                    "runAfter": {},
                                    "type": "Compose"
                                },
                                "Condition_-_Add_ThreatName_to_HashesThreatList": {
                                    "actions": {
                                        "Append_to_array_HashesThreatList": {
                                            "inputs": {
                                                "name": "HashesThreatList",
                                                "value": "@body('HTTP_invoke_the_FileProfile_function')['Results'][0]['ThreatName']"
                                            },
                                            "runAfter": {},
                                            "type": "AppendToArrayVariable"
                                        }
                                    },
                                    "expression": {
                                        "and": [
                                            {
                                                "greater": [
                                                    "@length(body('HTTP_invoke_the_FileProfile_function')['Results'][0]['ThreatName'])",
                                                    0
                                                ]
                                            }
                                        ]
                                    },
                                    "runAfter": {
                                        "HTTP_invoke_the_FileProfile_function": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "If"
                                },
                                "HTTP_invoke_the_FileProfile_function": {
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_FileProfile')}"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.security.microsoft.com/api/advancedhunting/run"
                                    },
                                    "runAfter": {
                                        "Compose_KQL_for_FileProfile": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http"
                                },
                                "HTTP_query_the_EmailAttachmentInfo_table_with_hashes": {
                                    "description": "Will fail on purpose when SHA256 is not the algorithm, it will use a null URI",
                                    "inputs": {
                                        "authentication": {
                                            "audience": "https://api.security.microsoft.com/",
                                            "type": "ManagedServiceIdentity"
                                        },
                                        "body": {
                                            "Query": "@{outputs('Compose_KQL_for_EmailAttachmentInfo_with_hashes')}"
                                        },
                                        "method": "POST",
                                        "uri": "@{if(equals(item()['RawEntity']['algorithm'],'SHA256'),'https://api.security.microsoft.com/api/advancedhunting/run','')}"
                                    },
                                    "runAfter": {
                                        "Compose_KQL_for_EmailAttachmentInfo_with_hashes": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http"
                                },
                                "Increment_variable_EntitiesAttachmentCount_for_hashes": {
                                    "inputs": {
                                        "name": "EntitiesAttachmentCount",
                                        "value": "@outputs('Compose_DetailedResults_entry_for_hashes')['EmailAttachmentCount']"
                                    },
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable"
                                },
                                "Increment_variable_HashesInvalidSignatureCount": {
                                    "inputs": {
                                        "name": "HashesInvalidSignatureCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['SignatureState'],'SignedValid'),0,1)"
                                    },
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable"
                                },
                                "Increment_variable_HashesLinkedToThreatCount": {
                                    "inputs": {
                                        "name": "HashesLinkedToThreatCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['ThreatName'],''),0,1)"
                                    },
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable"
                                },
                                "Increment_variable_HashesNotMicrosoftSigned": {
                                    "inputs": {
                                        "name": "HashesNotMicrosoftSignedCount",
                                        "value": "@if(equals(body('HTTP_invoke_the_FileProfile_function')?['Results']?[0]?['Publisher'],'Microsoft Corporation'),0,1)"
                                    },
                                    "runAfter": {
                                        "Append_to_array_FileHashResults": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "IncrementVariable"
                                }
                            },
                            "foreach": "@body('Parse_JSON')?['FileHashes']",
                            "runAfter": {
                                "Filter_array_for_supported_algorithms": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Foreach"
                        },
                        "HTTP_Permissions_Check": {
                            "inputs": {
                                "authentication": {
                                    "audience": "https://api.security.microsoft.com/",
                                    "type": "ManagedServiceIdentity"
                                },
                                "body": {
                                    "Query": "print 'STAT Permissions Check'"
                                },
                                "method": "POST",
                                "uri": "https://api.security.microsoft.com/api/advancedhunting/run"
                            },
                            "runAfter": {
                                "Condition_-_Terminate_if_no_supported_entities": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Http"
                        },
                        "Initialize_variable_EntitiesAttachmentCount": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "EntitiesAttachmentCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_HashesInvalidSignatureCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_FileHashResults": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FileHashResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_FileResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_FileResults": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "FileResults",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "HTTP_Permissions_Check": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_GlobalPrevalence": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "GlobalPrevalence",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_EntitiesAttachmentCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_HashesInvalidSignatureCount": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesInvalidSignatureCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_HashesNotMicrosoftSignedCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_HashesLinkedToThreatCount": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesLinkedToThreatCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_FileHashResults": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_HashesNotMicrosoftSignedCount": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesNotMicrosoftSignedCount",
                                        "type": "integer",
                                        "value": 0
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_HashesLinkedToThreatCount": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Initialize_variable_HashesThreatList": {
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "HashesThreatList",
                                        "type": "array",
                                        "value": []
                                    }
                                ]
                            },
                            "runAfter": {
                                "Initialize_variable_GlobalPrevalence": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable"
                        },
                        "Parse_JSON": {
                            "inputs": {
                                "content": "@triggerBody()?['Entities']",
                                "schema": {
                                    "properties": {
                                        "Accounts": {
                                            "description": "Array of User Accounts",
                                            "items": {
                                                "properties": {
                                                    "AssignedRoles": {
                                                        "description": "Array of assigned roles in Accounts array",
                                                        "items": {
                                                            "properties": {
                                                                "Role": {
                                                                    "description": "Array property in AssignedRoles array"
                                                                }
                                                            },
                                                            "required": [],
                                                            "type": "object"
                                                        },
                                                        "type": "array"
                                                    },
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in Accounts array",
                                                        "properties": {
                                                            "accountName": {
                                                                "description": "accountName from RawEntity object in Accounts array"
                                                            },
                                                            "displayName": {
                                                                "description": "dislayName from RawEntity object in Accounts array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in Accounts array"
                                                            },
                                                            "isDomainJoined": {
                                                                "description": "isDomainJoined from RawEntity object in Accounts array"
                                                            },
                                                            "sid": {
                                                                "description": "sid from RawEntity object in Accounts array"
                                                            },
                                                            "upnSuffix": {
                                                                "description": "upnSuffix from RawEntity object in Accounts array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "accountEnabled": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "city": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "country": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "department": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "id": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "jobTitle": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "mail": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "manager": {
                                                        "description": "Array property in Accounts array",
                                                        "properties": {
                                                            "@@odata.type": {
                                                                "description": "Array property in Accounts array manager object"
                                                            },
                                                            "id": {
                                                                "description": "Array property in Accounts array manager object"
                                                            },
                                                            "mail": {
                                                                "description": "Array property in Accounts array manager object"
                                                            },
                                                            "userPrincipalName": {
                                                                "description": "Array property in Accounts array manager object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "officeLocation": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "onPremisesDistinguishedName": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "onPremisesDomainName": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "onPremisesSamAccountName": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "onPremisesSecurityIdentifier": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "onPremisesSyncEnabled": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "state": {
                                                        "description": "Array property in Accounts array"
                                                    },
                                                    "userPrincipalName": {
                                                        "description": "Array property in Accounts array"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "AccountsCount": {
                                            "description": "Count of accounts processed by module",
                                            "type": "integer"
                                        },
                                        "Domains": {
                                            "description": "Array of Domains",
                                            "items": {
                                                "properties": {
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in Domains array",
                                                        "properties": {
                                                            "domainName": {
                                                                "description": "domainName from RawEntity object in Domains array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in Domains array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "DomainsCount": {
                                            "description": "Count of Domains processed by module",
                                            "type": "integer"
                                        },
                                        "EntitiesCount": {
                                            "description": "Count of all entities processed by enrichment module",
                                            "type": "integer"
                                        },
                                        "FileHashes": {
                                            "description": "Array of FileHashes",
                                            "items": {
                                                "properties": {
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in FileHashes array",
                                                        "properties": {
                                                            "algorithm": {
                                                                "description": "algorithm from RawEntity object in FileHashes array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in FileHashes array"
                                                            },
                                                            "hashValue": {
                                                                "description": "hashValue from RawEntity object in FileHashes array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "FileHashesCount": {
                                            "description": "Count of File Hashes processed by module",
                                            "type": "integer"
                                        },
                                        "Files": {
                                            "description": "Array of Files",
                                            "items": {
                                                "properties": {
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in Files array",
                                                        "properties": {
                                                            "directory": {
                                                                "description": "directory from RawEntity object in Files array"
                                                            },
                                                            "fileName": {
                                                                "description": "fileName from RawEntity object in Files array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in Files array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "FilesCount": {
                                            "description": "Count of Files processed by module",
                                            "type": "integer"
                                        },
                                        "Hosts": {
                                            "description": "Array of Hosts",
                                            "items": {
                                                "properties": {
                                                    "DnsDomain": {
                                                        "description": "Array property in Hosts array"
                                                    },
                                                    "FQDN": {
                                                        "description": "Array property in Hosts array"
                                                    },
                                                    "Hostname": {
                                                        "description": "Array property in Hosts array"
                                                    },
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in Hosts array",
                                                        "properties": {
                                                            "dnsDomain": {
                                                                "description": "dnsDomain from RawEntity object in Hosts array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in Hosts array"
                                                            },
                                                            "hostName": {
                                                                "description": "hostName from RawEntity object in Hosts array"
                                                            },
                                                            "netBiosName": {
                                                                "description": "netBiosName from RawEntity object in Hosts array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "HostsCount": {
                                            "description": "Count of Hosts processed by module",
                                            "type": "integer"
                                        },
                                        "IPs": {
                                            "description": "Array of IP Addresses",
                                            "items": {
                                                "properties": {
                                                    "Address": {
                                                        "description": "Array property in IPs array"
                                                    },
                                                    "GeoData": {
                                                        "description": "Array object in IPs array",
                                                        "properties": {
                                                            "asn": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "carrier": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "city": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "cityCf": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "continent": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "country": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "countryCf": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "ipAddr": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "ipRoutingType": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "latitude": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "longitude": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "organization": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "organizationType": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "region": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "state": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "stateCf": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            },
                                                            "stateCode": {
                                                                "description": "Array property in IPs array GeoData object"
                                                            }
                                                        },
                                                        "type": "object"
                                                    },
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in IPs array",
                                                        "properties": {
                                                            "address": {
                                                                "description": "address from RawEntity object in IPs array"
                                                            },
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in IPs array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "IPsCount": {
                                            "description": "Count of IPs processed by module",
                                            "type": "integer"
                                        },
                                        "IncidentARMId": {
                                            "description": "The ARM Id of the Azure Sentinel Incident",
                                            "type": "string"
                                        },
                                        "URLs": {
                                            "description": "Array of URLs",
                                            "items": {
                                                "properties": {
                                                    "RawEntity": {
                                                        "description": "Object containing Raw unenriched entity data in URLs array",
                                                        "properties": {
                                                            "friendlyName": {
                                                                "description": "friendlyName from RawEntity object in URLs array"
                                                            },
                                                            "url": {
                                                                "description": "url from RawEntity object in URLs array"
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "required": [],
                                                "type": "object"
                                            },
                                            "type": "array"
                                        },
                                        "URLsCount": {
                                            "description": "Count of URLs processed by module",
                                            "type": "integer"
                                        },
                                        "WorkspaceId": {
                                            "description": "The Log Analytics Workspace Id of the Azure Sentinel Incident",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "runAfter": {},
                            "type": "ParseJson"
                        },
                        "Response": {
                            "inputs": {
                                "body": "@outputs('Compose_response')",
                                "statusCode": 200
                            },
                            "kind": "Http",
                            "runAfter": {
                                "Compose_response": [
                                    "Succeeded"
                                ]
                            },
                            "type": "Response"
                        },
                        "Response_Permissions_Check_Failure": {
                            "inputs": {
                                "body": {
                                    "Error": "@{parameters('PlaybookInternalName')} failed to execute with status @{outputs('HTTP_Permissions_Check')['statusCode']}",
                                    "PlaybookName": "@{workflow()?['name']}",
                                    "PlaybookResourceId": "@{workflow()?['id']}",
                                    "PlaybookRunId": "@{workflow()?['run']?['name']}",
                                    "PlaybookVersion": "@{parameters('PlaybookVersion')}"
                                },
                                "statusCode": "@outputs('HTTP_Permissions_Check')['statusCode']"
                            },
                            "kind": "Http",
                            "runAfter": {
                                "HTTP_Permissions_Check": [
                                    "Failed"
                                ]
                            },
                            "type": "Response"
                        }
                    },
                    "contentVersion": "1.0.0.0",
                    "outputs": {},
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        },
                        "PlaybookInternalName": {
                            "defaultValue": "FileModule",
                            "type": "String"
                        },
                        "PlaybookVersion": {
                            "defaultValue": "0.0.2",
                            "type": "String"
                        },
                        "ProjectName": {
                            "defaultValue": "STAT",
                            "type": "String"
                        }
                    },
                    "triggers": {
                        "triage": {
                            "inputs": {
                                "schema": {
                                    "properties": {
                                        "AddIncidentComments": {
                                            "title": "Add comments to the incident",
                                            "type": "boolean"
                                        },
                                        "Entities": {
                                            "description": "Click here and select the EnrichedEntities object from the Dynamic content menu",
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "kind": "Http",
                            "type": "Request"
                        }
                    }
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "azuresentinel": {
                                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                                "connectionName": "[variables('AzureSentinelConnectionName')]",
                                "connectionProperties": {
                                    "authentication": {
                                        "type": "ManagedServiceIdentity"
                                    }
                                },
                                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
                            }
                        }
                    }
                }
            }
        }
    ],
    "outputs": {
        "resourceID": {
            "type": "string",
            "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
        }
    }
}
